.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  flex-wrap: wrap;
}

.header__logo {
  height: 40px;
}
.header__left {
  padding-right: 24px;
}
.header__nav {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.header__nav a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.header__nav a.active {
  color: #007bff;
}

.header__user {
  margin-left: auto;
  padding-left: 10px;
}
.header__icons {
  display: flex;
  gap: 12px;
}

.header__icon {
  color: grey;
}
.layout {
  display: flex;
  min-height: calc(100vh - 60px); /* если Header ~60px высотой */
  padding: 24px;
  gap: 24px;
  background: #fa8688;
  height: calc(100vh - 48px);
}

.sidebar {
  width: 250px;
  background: #f4f5fa;
  padding: 20px;
  box-shadow: 2px 0 12px rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  padding-top: 120px;
  gap: 8px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar {
}

.sidebar li:hover,
.sidebar li.active {
  background: #fa8688;
}

.sidebar li:hover > a {
  color: #ffffff;
}

.content {
  flex-grow: 1;
  max-height: calc(100vh - 168px);
  overflow: scroll;
}

.header_left {
  display: flex;
  align-items: center;
  gap: 70px;
}
.header_left_btns {
  display: flex;
  align-items: center;
  gap: 24px;
}
.header_left_btn {
  font-weight: 300;
  font-family: "Unbounded";
  color: #fa8688;
  cursor: pointer;
}
.text-flield {
  padding: 18px 20px;
  border-radius: 10px;
  border: 1px solid #cccccc !important;
  outline: none;
  font-family: "Unbounded";
  color: #7d8797;
  font-weight: 300;
  font-size: 14px;
}
.text-field_label {
  font-weight: 400;
  font-size: 14px;
}
.text-field_form-group {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.slider-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: sans-serif;
}

.slider-label {
  font-weight: bold;
  color: #333;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider-left-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fa8688;
  min-width: 40px;
  text-align: right;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 30px;
  border-radius: 50px;
  background: linear-gradient(
    to right,
    #fa8688 0%,
    #fa8688 var(--slider-percent, 0%),
    #ffffff var(--slider-percent, 0%),
    #ffffff 100%
  );
  border: 1px solid #fa8688;
  outline: none;
  transition: background 0.3s ease;
}

.slider:disabled {
  background: #eee;
  border-color: #ccc;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #916071;
  border-radius: 50%;
  cursor: pointer;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.4);
  transition: background 0.3s ease;
  display: none;
}

.slider:disabled::-webkit-slider-thumb {
  background: #891f1f;
  cursor: not-allowed;
}

.slider::-webkit-slider-thumb:hover {
  background: #9e2a51;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #fd4582;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.slider:disabled::-moz-range-thumb {
  background: #ccc;
  cursor: not-allowed;
}

.slider-value {
  font-size: 0.9rem;
  color: #555;
}

.slider-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.slider-left-text {
  font-size: 0.9rem;
  font-weight: bold;
  color: #fa8688;
  min-width: 40px;
  text-align: right;
}

.recipient-card {
  border: 1px solid #f5c5c5;
  border-radius: 12px;
  padding: 16px 24px;
  background: #fff;
  max-width: 560px;
  /* max-width: 320px; */
  font-family: "Inter", sans-serif;
}

.recipient-logo {
  text-align: center;
  color: #fd4582;
  font-weight: 600;
  font-size: 24px;
  margin-bottom: 12px;
  /* border: 1px solid #fd4582; */
  display: inline-block;
  padding: 4px 12px;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.recipient-name {
  text-align: center;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 16px;
}

.recipient-row {
  display: grid;
  grid-template-columns: 180px 1fr;
  justify-content: space-between;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.4;
  padding: 12px 0;
}

.recipient-label {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  width: 180px;
  display: inline-block;
}

.recipient-value {
  font-family: Unbounded;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  text-decoration-thickness: 0%;
}

.form-group {
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  gap: 8px;
  margin-bottom: 16px;
}

.form-group.error .file-button {
  background: #ff7070;
}

.invoice-label {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
}

.tooltip {
  font-weight: normal;
  font-size: 0.85rem;
  color: #999;
  margin-left: 4px;
}

.file-input-container {
  position: relative;
  width: fit-content;
}

.file-input {
  opacity: 0;
  width: 0;
  height: 0;
  position: absolute;
  z-index: -1;
}

.file-button {
  display: inline-block;
  background: linear-gradient(90deg, #fd7c7c, #fda0a0);
  border: none;
  color: white;
  font-weight: 600;
  padding: 10px 24px;
  border-radius: 50px;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background 0.3s ease;
}

.file-button:hover {
  background: linear-gradient(90deg, #fb5b5b, #fb8a8a);
}

.file-name {
  font-family: Unbounded;
  font-weight: 200;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0px;
}
