.tutorial-modal-backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.tutorial-modal {
  background: #fff;
  padding: 30px;
  border-radius: 8px;
  width: 500px;
  max-width: calc(100vw - 48px);
  text-align: center;
}
.notification_icon {
  position: relative;
}
.notification-modal-backdrop {
  position: fixed;
  inset: 0;
  /* background: rgba(0, 0, 0, 0.6); */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  z-index: 1000;
}

.notification_title {
  font-family: Unbounded;
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #272727;
}

.notification-modal {
  position: absolute;
  padding: 20px;
  width: 200px;
  height: 270px;
  top: 200%;
  left: -80px;
  border-radius: 20px;
  border-width: 1px;
  background-color: #f4f5fa;
  border: 1px solid #103d64;
  border-radius: 20px;
  display: grid;
  grid-template-rows: 48px 1fr;
}

.notification_conent {
  /* display: flex; */
  overflow: auto;
  height: 100%;
}

.tutorial-modal h2 {
  font-family: Unbounded;
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}

.tutorial-modal p {
  font-family: Unbounded;
  font-weight: 300;
  /* font-size: 18px; */
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;

  margin-bottom: 24px;
}
.tutorial-modal_prop {
  font-family: Unbounded;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-offset: 0%;
  color: #103d64;
  text-decoration-thickness: 0%;
}

.notification_item {
  width: 150px;
  top: 223px;
  left: 1461px;
  border-radius: 10px;
  padding: 10px;
  font-size: 11px;
  color: #272727;
  background-color: white;
  width: calc(100% - 20px);
  margin-bottom: 12px;
}

.notification_item_title {
  color: #272727;
  font-weight: 600;
}

.notification_item_text {
  padding: 12px 0px;
  font-size: 9px;
}

.notification_item_btn {
  border: none;
  outline: none;
  top: 302px;
  left: 1548px;
  border-radius: 5px;
  padding: 4px 8px;
  color: white;
  background-color: #103d64;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.payment_circle_btn {
  width: 37px;
  height: 37px;
  top: 475px;
  left: 1178px;
  border-radius: 20px;
  angle: 0 deg;
  opacity: 1;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 24px;
  background-color: #103d64;
}
.balance_pament_content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
